/* Layout Styling */

:root {
  font-family: "Ubuntu", sans-serif;

  --MarineBlue: hsl(213, 96%, 18%);
  --PurplishBlue: hsl(243, 100%, 62%);
  --PastelBlue: hsl(228, 100%, 84%);
  --LightBlue: hsl(206, 94%, 87%);
  --StrawberryRed: hsl(354, 84%, 57%);
  --CoolGray: hsl(231, 11%, 63%);
  --LightGray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  color: var(--MarineBlue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Magnolia);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

/* Main container */

.container {
  height: 80%;
  width: 60%;
  margin: 0 auto;
  background-color: var(--White);
  display: flex;
  justify-content: space-between;
  padding: 1%;
  border-radius: 10px;
}

/* Steps Styling */

.background-photo {
  height: 100%;
  width: 30%;
  background: url("./assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  border-radius: 10px;
  padding-top: 3%;
  padding-left: 2%;
}

.steps {
  padding: 6%;
  display: flex;
  column-gap: 20px;
}

.number {
  font-size: 16px;
  width: 15%;
  border: 1px solid var(--White);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  font-weight: 700;
}

.coloring {
  background-color: var(--LightBlue);
  color: var(--MarineBlue);
}

.step-info {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.step {
  color: var(--LightGray);
  font-size: 0.8em;
}

.info {
  color: var(--White);
  font-weight: 700;
  font-size: 1.2em;
}

/* Pages and button container styling */

.pagesContainer {
  width: 65%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Page 1 Styling */

#page1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.all-info {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.personal {
  font-size: 2.8em;
  font-weight: 700;
}

.provide {
  color: var(--CoolGray);
}

.all-details {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.box {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--LightGray);
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 600;
}

.name-field {
  display: flex;
  justify-content: space-between;
}

.field {
  color: var(--StrawberryRed);
  display: none;
}

.name-details,
.email-details,
.phone-details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* #page1 {
  display: none;
} */

/* Page 2 Styling */

#page2 {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.plan-option {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.plan {
  font-size: 2.8em;
  font-weight: 700;
}

.option {
  color: var(--CoolGray);
}

input[type="radio"] {
  display: none;
}

.cards input[type="radio"]:checked + label {
  background-color: var(--Magnolia);
}

.cards {
  display: flex;
  justify-content: space-between;
}

.cards label {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--LightGray);
  row-gap: 40px;
  padding: 30px;
  width: 30%;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  border: 1px solid var(--MarineBlue);
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.type {
  color: var(--MarineBlue);
  font-weight: 700;
}

.rate {
  color: var(--CoolGray);
}

.year-rate {
  font-size: 0.88em;
  display: none;
}

.monthly-yearly {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  background-color: var(--Magnolia);
  padding: 10px;
  color: var(--CoolGray);
  font-weight: 700;
}

.monthly-yearly input[type="checkbox"] {
  display: none;
}

.monthly-yearly label {
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: var(--MarineBlue);
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.monthly-yearly label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: var(--Alabaster);
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: left 0.3s ease-in-out;
}

.monthly-yearly input[type="checkbox"]:checked + label::before {
  left: 28px;
}

.marineblue {
  color: var(--MarineBlue);
}

#page2 {
  display: none;
}

/* Page 3 Styling */

#page3 {
  /* display: flex; */
  flex-direction: column;
  row-gap: 40px;
}

.pick-add {
  display: flex;
  flex-direction: column;
}

.pick {
  font-size: 2.8em;
  font-weight: 700;
}

.add-ons {
  color: var(--CoolGray);
}

.services {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.service-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--LightGray);
  padding: 30px;
  border-radius: 10px;
}

.clicked {
  background-color: var(--Magnolia);
  border-color: var(--MarineBlue);
}

/* .service- input[type="checkbox"]:checked + label {
  background-color: var(--Magnolia);
} */

/* .services input[id="checkbox1"]:checked + #nnnn {
  background-color: var(--Magnolia);
} */

.service-card:hover {
  border: 1px solid var(--MarineBlue);
}

.service-info {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.checkbox {
  transform: scale(1.2);
}

.service-details {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.service-title {
  color: var(--MarineBlue);
  font-weight: 700;
}

.service-purpose {
  color: var(--CoolGray);
}

.price {
  color: var(--MarineBlue);
}

#page3 {
  display: none;
}

/* Page 4 Styling */

#page4 {
  /* display: flex; */
  flex-direction: column;
  row-gap: 50px;
}

.finish-double {
  display: flex;
  flex-direction: column;
}

.finish {
  font-size: 2.8em;
  font-weight: 700;
}

.double {
  color: var(--CoolGray);
}

.bill-container {
  display: flex;
  flex-direction: column;
  background-color: var(--Magnolia);
  padding: 20px;
  border-radius: 10px;
  row-gap: 30px;
}

.main-bill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bill-type {
  color: var(--MarineBlue);
  font-weight: 700;
  font-size: 1.16em;
}

.change {
  text-decoration: underline;
  color: var(--CoolGray);
  cursor: pointer;
}

.change:hover {
  color: var(--PurplishBlue);
}

.main-bill-amount {
  color: var(--MarineBlue);
  font-weight: 700;
  font-size: 1.16em;
}

.extra-bill {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-top: 1px solid var(--LightGray);
  padding-top: 30px;
}

.extra-bill-1,
.extra-bill-2,
.extra-bill-3,
.total-bill {
  display: flex;
  justify-content: space-between;
}

.extra-bill-type {
  color: var(--CoolGray);
}

.extra-bill-amount {
  color: var(--MarineBlue);
}

.extra-bill-1,
.extra-bill-2,
.extra-bill-3 {
  display: none;
}

.total-bill {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.total {
  color: var(--CoolGray);
}

.total-amount {
  color: var(--PurplishBlue);
  font-weight: 700;
  font-size: 1.2em;
}

#page4 {
  display: none;
}

/* Page 5 Styling */

#page5 {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.last {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.thanks {
  color: var(--MarineBlue);
  font-size: 2em;
  font-weight: 700;
}

.thanks-message {
  color: var(--CoolGray);
  line-height: 1.5;
  font-size: 1.33em;
}

#page5 {
  display: none;
}

/* Buttons Styling */

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goBack {
  padding: 15px;
  color: var(--CoolGray);
  font-weight: 500;
  cursor: pointer;
  font-size: 1.16em;
}

.goBack:hover {
  color: var(--MarineBlue);
  font-size: 1.16em;
}

.button {
  padding: 15px;
  background-color: var(--MarineBlue);
  color: var(--White);
  font-size: 1.16em;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(213, 82%, 30%);
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .background-photo {
    background: url(./assets/images/bg-sidebar-mobile.svg);
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .steps {
    flex-direction: row;
  } */
  
  .step-info {
    display: none;
  }

  .pagesContainer {
    width: 100%;
  }
}

/* @media (max-width: 600px) {
  .container {
    flex-direction: column;
    height: max-content;
  }
  .background-photo {
    background: url(./assets/images/bg-sidebar-mobile.svg);
    width: 100%;
    background-size: cover;
  }

  .step-info {
    display: none;
  }

  .number {
    display: flex;
    
  }
} */
